/* 
    Created on : 02/01/2017, 14:54:16
    Author     : Ruan
*/
img {
    margin-left: 0px;
    margin-right: auto;
    width: 200px;
    height: 240px;
}

fieldset {
    border:6px groove #ccc; /* Borde */
    width: 19%;
    background:#F8ECE0; /* Color de fondo */
    color:#000; /* Color del texto de todo el contenido */
}
legend {
    text-align:left; /* Puedes cambiarlo por center o right */
    font-weight:bold; /* Estilo de la fuente del título */
    color:#61380B; /* Color del título */
}
table{
    background:#F8ECE0; /* Color de fondo */
    border:6px groove #ccc; /* Borde */
    width:100%;
    margin-top:0px;

}
table td{
    border:18px ; /* Borde */ 
    border-bottom-style: inset;
}
div .menu{
    background:#F8ECE0; /* Color de fondo */
    border:6px groove buttonface; /* Borde */
    width:10%;
    color:#000; /* Color del texto de todo el contenido */
}